@import url('reset.css');
@import url('text.css');
@import url('960.css');
@import url('isotope.css');

html, body {
}

body * {
    font-family:'futura-pt';
    font-size:14px;
}

.container {
    width:960px;
    margin:0 auto;
}

.header-container {
    background-image:url(../img/plane_2.jpg);
    background-size:cover;
    background-position:center center;
    height:260px;
}

.header {
    width:940px;
    margin:0 auto;
}

.logo {
    font-size:60px;
    font-weight:bold;
    display:inline-block;
    color:#007236;
    color:#fff;
    font-family:'futura-pt', 'helvetica', sans-serif;
}

.slogan {
    display:inline-block;
    font-size:36px;
    margin-left:16px;
    color:#004521;
    color:#fff;
    font-weight:normal;
    font-family:'futura-pt', 'helvetica', sans-serif;
}

.explanation {
    font-size:20px;
    font-weight:bold;
    font-family:'helvetica';
    display:inline-block;
    background-color:rgba(0,0,0,.6);
    padding:20px;
    text-transform:lowercase;
    color:#fff;
    line-height:1.5em;
    padding-bottom:30px;
}

.drop-down {
    font-weight:bold;
    font-family:'helvetica';
    font-size:14px;
    padding:6px 9px;
    margin-left:4px;
	text-transform:none;
/*    border:1px solid #fcfcfc; */
    background-color:rgba(255,255,255,.9);
    color:#666;
    border-radius:5px;  
    cursor:pointer;
    color:#000;
    display:inline-block;
    width: auto;

}

#dropdown-cities ul {
    overflow-y:scroll;
    max-height:400px;
}

.deal-box {
    margin-top:10px;
    margin-bottom:10px;
    cursor:pointer;
    width:300px;
    float:left;
    margin:10px;
}

.deal-box:hover .border-wrapper {
    border:5px solid rgba(0,0,200,.2);
}

.deal {
    height:160px;
    display:block;
    background-size:cover;
    background-position:center center;
    position:relative;
}


.deal-box.large {
    margin-top:10px;
    margin-bottom:10px;
    cursor:pointer;
    width:620px;
}

.deal-box.large:hover .border-wrapper {
    border:5px solid rgba(0,0,200,.2);
}

.deal-box.large .deal {
    height:350px;
    display:block;
    background-size:cover;
    background-position:center center;
    position:relative;
}


.border-wrapper {
    border:5px solid rgba(0,0,200,.1);
    display:block;
}

.destination {
    position:absolute;
    bottom:0;
    padding:10px 25px;
    background-color:rgba(0,0,200,.6);
    color:#fff;
    font-weight:bold;
    right:0;
}

.when {
    color:#eee;
    font-weight:normal;
    font-family:helvetica;
    font-size:15px;
}

.price {
    font-size:24px;
    font-weight:bold;
    padding:5px 15px;
    top:0;
    right:0;
    position:absolute;
    background-color:rgba(250,20,20,.7);
    color:#fff;
    text-align:right;
}

.old-price {
    color:#ccc;
    text-align:right;
    display:inline-block;
    position:relative;
    text-decoration: line-through;
}

.strike-through {
    width:100%;
    height:4px;
    background-color:#ddd;
    position:absolute;
    top:9px;
}

.deals-container {
    position:relative;
    margin:0 auto;
    width:960px;
}
.deal-box .buynow{
    display:none;
}

.large .deal .buynow{
    display:block;
}

.buynow {
    position: relative;
    width:180px;
    top:150px;
    background: rgba(192,232,70,0.7);
}
.buynow a{
    margin:0 0 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 38px;
}
.buynow a:visited{
    color: #fff;
    text-decoration: none;
}
