@import url('reset.css');
@import url('text.css');
@import url('960.css');
@import url('isotope.css');

html, body {
}

body * {
    font-family:'futura-pt';
}

.container {
    width:960px;
    margin:0 auto;
}

.header-container {

    background: rgb(255,255,255);
    background-image: url(../img/plane_2.jpg); /* fallback */
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 49%), url(../img/plane_2.jpg); /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 49%), url(../img/plane_2.jpg); /* FF3.6+ */
    background-image: -ms-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 49%),  url(../img/plane_2.jpg); /* IE10 */
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 49%), url(../img/plane_2.jpg);
    background-image: linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 49%) ,url(../img/plane_2.jpg);

    background-size:cover;
    background-position:center center;
    height:260px;
}

.header {
    width:940px;
    margin:0 auto;
    padding-top: 40px
}

.header_box {
    background-color:rgba(0,0,0,.35);
    padding:20px;
    color:#fff;
    padding-bottom:30px;
    width:500px;
}

.logo {
    font-size:52px;
    font-weight:bold;
    display:inline-block;
    color:#007236;
    color:#fff;
    font-family:'futura-pt', 'helvetica', sans-serif;
}

.slogan {
    display:inline-block;
    font-size:30px;
    margin-left:9px;
    color:#004521;
    color:#fff;
    font-weight:normal;
    font-family:'futura-pt', 'helvetica', sans-serif;
}

.from_where {
    font-size: 22px;
}

.drop-down {
    font-weight:bold;
    font-family:'helvetica';
    font-size:20px;
    padding:6px 15px;
    margin-left:4px;
	text-transform:none;
    background-color:rgba(0,0,0,.5);
    color:#eee;
    border-radius:5px;  
    cursor:pointer;
    display:inline-block;
    width: auto;

}

#dropdown-cities ul {
    overflow-y:scroll;
    max-height:400px;
}

.deal-box {
    margin-top:10px;
    margin-bottom:10px;
    cursor:pointer;
    width:300px;
    float:left;
    margin:10px;
}

.deal-box:hover .border-wrapper {
    border:5px solid rgba(0,0,200,.2);
}

.deal {
    height:160px;
    display:block;
    background-size:cover;
    background-position:center center;
    position:relative;
}


.deal-box.large {
    margin-top:10px;
    margin-bottom:10px;
    cursor:pointer;
    width:620px;
}

.deal-box.large:hover .border-wrapper {
    border:5px solid rgba(0,0,200,.2);
}

.deal-box.large .deal {
    height:350px;
    display:block;
    background-size:cover;
    background-position:center center;
    position:relative;
    cursor: default;
}


.border-wrapper {
    border:5px solid rgba(0,0,200,.1);
    display:block;
}

.destination {
    position:absolute;
    bottom:0;
    background-color:rgba(0,0,200,.6);
    color:#fff;
    font-weight:bold;
    left:0;
    font-size:15px;
}

.large .destination {
    width:340px;
    font-size:20px;
    display:none;
}

.destination-wrapper {
    padding: 5px 8px 3px;
    line-height: 1.3;
}

.when {
    color:#eee;
    font-weight:normal;
    display:inline-block;
    font-size:13px;
}

.large .when {
    display:inline-block;
    font-size:16px;
}

.price {
    font-size:24px;
    font-weight:bold;
    padding:5px 15px;
    top:0;
    right:0;
    position:absolute;
    background-color:rgba(250,20,20,.7);
    color:#fff;
    text-align:right;
}

.old-price {
    color:#ccc;
    text-align:right;
    display:block;
    position:relative;
    text-decoration: line-through;
    font-size:16px;
}

.large .price {
    display:none;
}

.strike-through {
    width:100%;
    height:4px;
    background-color:#ddd;
    position:absolute;
    top:9px;
}

.deals-container {
    position:relative;
    margin:0 auto;
    width:960px;
    min-height:600px;
}

.buynow, .booknow {
    position: relative;
    display:none;
    color:#fff;
    text-decoration: none;
    font-size: 26px;
    font-weight:bold;
    padding:0;
    width:310px;
}

.buynow {
    background: rgba(25,123,48,0.8);
}

.buynow:hover {
    background: rgba(25,123,48,.9);
}

.booknow {
    background: rgba(0,83,148,0.8);
}

.booknow:hover {
    background: rgba(0,83,148,0.9);    
}

.large .buynow, .large .booknow{
    display:inline-block;
}

.buynow {
}

.buynow a:visited, .booknow a:visited{
    color: #fff;
    text-decoration: none;
}

.bottom-details {
    display:none;
    position:absolute;
    bottom:0;
}

.large .bottom-details {
    display:block;
}

.footer {
    margin-top: 40px;
    width:100%;
    background: rgba(0,0,0,.2);
}

.made_by {
    text-decoration: none;
    text-align: center;
    width:940px;
    margin:0 auto;
    padding: 20px;
    color:#444;
    font-size: 16px;
}

.fb-like {
    float:left;
    margin-left:20px;
    padding-top:45px;
    width:260px;
}

.contact {
    display:inline-block;
    margin-top:35px;
    line-height:3em;
    color:#444;
    text-decoration:none;
}

.per-night {
    font-size:13px;
    color:#ddd;
    font-weight:bold;
    display:inline-block;
    line-height:1.0em;
    margin-left:5px;
}

.sexy-description {
    width:286px;
    background-color:rgba(0,0,0,.7);
    color:#fff;
    padding:12px;
    font-size:22px;
    font-weight:bold;
    line-height:1.15em;
    font-weight:normal;
}

.sexy-price {
    font-size:28px;
    font-weight:bold;
    margin-right:3px;
}

.lefter {
    display:inline-block;
    padding:4px 12px;
}

.righter {
    width:140px;
    position:absolute;
    right:0;
    display:inline-block;
    text-align:center;
    background-color:rgba(0,0,0,.2);
    padding:4px 12px;
}